/* hide previous and next month days  */
.ui-datepicker-other-month {
  font-size: 0;
}

/* hide the prev and next controls  */
.ui-datepicker-prev,
.ui-datepicker-next {
  display: none;
}

/* Sets the size for the calendar and input */
.ui-datepicker,
.inputcalendar {
  height: auto;
  font: 10px Helvetica black;
  margin: 0 auto 0;
  width: 350px;
}

/* Input was too close to the top of the browser */
.inputcalendar {
  margin-top: 10px;
}

/* Styling as per the requirements
Use of box-sizing as i'm using 100%, it makes padding and border exclusive */
.inputcalendar input {
  border: 1px solid #cccccc;
  box-sizing: border-box;
  font: 10px Helvetica black;
  margin: 0 auto 0;
  padding: 5px;
  text-align: center;
  width: 100%;
}

/* Remove the styling from the input */
.inputcalendar input:focus {
  outline: none;
}
.ui-datepicker table {
  width: 100%;
}

/* Styling header as per the requiremnets */
.ui-datepicker-header {
  background-color: #eaeaea;
  border-width: 0 1px;
  border-style: solid;
  border-color: #cccccc;
  font: 10px Helvetica black;
  padding: 5px;
}

/* remove the padding between header and calendar */
.ui-datepicker thead tr th {
  padding: 0;
}

/* putting the date in the center  */
.ui-datepicker-title {
  text-align: center;

  padding: 0;
  width: 100%;
}

/* Removing all the default styles for anchor tags and setting color to black */
.ui-datepicker a {
  color: black;
  text-decoration: none;
}

/* Styling the date containers as requested */
.ui-datepicker tbody td {
  box-sizing: border-box;
  border: 1px solid #cccccc;
  font: 10px Helvetica black;
  height: 50px;
  padding-top: 3px;
  padding-left: 2px;
  text-align: left;
  vertical-align: top;
}
