/* hide previous and next month days  */
.ui-datepicker-other-month {
  /* visibility: hidden; */
  /* text-indent: -99999px; */
  /* color: transparent; */
  font-size: 0;
}

/* hide the prev and next controls  */
.ui-datepicker-prev,
.ui-datepicker-next {
  display: none;
}



/* .hasDatepicker {} the class that contains date picker */

.ui-datepicker, .dateinput{
  height: auto;
  margin: 0 auto 0;
  width: 350px;
  font: 10px Helvetica;
}

.dateinput input {
  margin: 0 auto 0;
  width: 100%;
  padding: 0;
  border: 1px solid #cccccc; 
}

.dateinput input {
  /* color: transparent; */
  
}

.dateinput input:focus {

  outline: none;
}
.ui-datepicker table {
  width: 100%;
}

.ui-datepicker-header {
  background-color: #eaeaea;
  line-height: 23px;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: #cccccc;
}
/* remove the padding between header and calendar */
.ui-datepicker thead tr th{
  padding: 0;
}

.ui-datepicker-title {
  text-align: center;
  padding: 0px 1px;
  width: 100%;
  
}

.ui-datepicker a {
  text-decoration: none;
}

.ui-datepicker tbody td {
  height: 50px;
  border: 1px solid #cccccc;
  padding: 0px;
  text-align: left;
  vertical-align: top;
}